.page__body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #404040;
  background-color: #fff;
  padding: 29px 15px;
  min-width: 1030px;
  margin: 0;
  box-sizing: border-box;
}
